  <!doctype html>
<html>
<head>
    <title>공기대 어그로</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
  .user_name{
    font-size:14px;
    font-weight: bold;
}

    </style>
</head>

<body>

 <div class = "thumbnail">
  <div class = "title">
            <h3><%= postModel.title %></h3>
  </div>
         <img src = "<%= postModel.image_url %>" alt = "이미지 로딩중.." class="img-responsive">         
 </div>

 		 <% for( var i = 0; i < postModel.comments.length; i++ ) { %>
 		<div class="comments-list">
                       <div class="media">
                            
                            <div class="media-body">
                                
                              <%= postModel.comments[i].content %>
                               
                              
                            </div>
                        </div>
                       
        </div>
            <% }%>


		
                               
                               
       							
       
</body>

</html>