  <div class = "thumbnail">
         <img src = "<%= postModel.image_url %>" alt = "이미지 로딩중..">
            </div>
          <div class = "title">
            <h3><%= postModel.title %></h3>
          </div>