<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>APKR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--call the css file -->
    <link rel='stylesheet' href='/css/main.css'> 
     <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">APKR </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">APKR 소개</a></li>
        <li><a href="/posts">유머게시판</a></li>
        <li><a href="/posts">자유게시판</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">계정이 있나요?</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>로그인</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
                <li>
                     <div class="row">
                            <div class="col-md-12">
                                  <form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                             <label class="sr-only" for="email">이메일</label>
                                             <input type="email" class="form-control" id="user_email" name="email" placeholder="이메일" required>
                                        </div>
                                        <div class="form-group">
                                             <label class="sr-only" for="password">비밀번호</label>
                                             <input type="password" class="form-control" id="user_password" name="password" placeholder="비밀번호" required>
                                             <div class="help-block text-right"><a href="">비밀번호를 잃어버리셨나요?</a></div>
                                        </div>
                                        <div class="form-group">
                                             <button type="submit" class="btn btn-primary btn-block">로그인 하기</button>
                                        </div>
                                       
                                 </form>
                            </div>
                            <div class="bottom text-center">
                                새로 오셨나요? <a href="/signup"><b>가입하기</b></a>
                            </div>
                     </div>
                </li>
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container-fluid">
    <h1 class = "page-title"> 의경 부대</h1></br>
    <div class="row maincontainer">
         <div class="col-xs-12 equalheightdiv">
             <div class="row">
                 <div class="col-xs-6 canvas" style="text-align: center;">
                    <h2>인천</h2>
                     </br>

                      <div class = "dept" style="text-align: center;"><font size = "4">인천공항기동대</font></div>
                      <ul>
                      <li><button type="button" class="btn btn-primary">인천공항기동대</button></li></br>
     <li><button type="button" class="btn btn-primary">인천공항기동대</button></li></br>
      <li><button type="button" class="btn btn-primary">인천공항기동대</button></li></br>
       <li><button type="button" class="btn btn-primary">인천공항기동대</button></li></br>

                      </ul>
                      
                      <button type="button" class="btn btn-primary">119 타격대</button></br>
                      <button type="button" class="btn btn-primary">교통 6중대</button></br>
                      <button type="button" class="btn btn-primary">인천공항기동대</button></br></br></br></br></br></br>


                 </div>
                 <div class="col-xs-6 canvas" style = "text-align: center;">
                    <h2>서울</h2>
                    </br>
                      <div class = "dept text-center"><font size = "4">Coming Soon</font> </div>
                    
                 </div>

           
             
         </div>
        
    </div>
</div>
</div>

    </div>
</body>
</html>