<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>APKR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--call the css file -->
    <link rel='stylesheet' href='/css/main.css'> 
     <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">APKR </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">APKR 소개</a></li>
        <li><a href="/posts">유머게시판</a></li>
        <li><a href="/posts">자유게시판</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">안녕하세요 <%= user.local.email %></p></li>
        <li> <a href ="/logout">로그아웃</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav></br>
   <h1><font size ="8">인천 의무경찰</font></h1>
</br>
<div class="container-fluid-1">
    <div class="row">
        </br>
        <div class="col-sm-2">
            <a href="/incheonAirportPolices" class="btn btn-lg btn-yellow">공항 기동대</a>
            <a href="#" class="btn btn-lg btn-yellow">계양 방순대</a>
            <a href="#" class="btn btn-lg btn-yellow">서구 방순대</a>
        </div>
        <div class="col-sm-2">
            <a href="#" class="btn btn-lg btn-yellow">연수 타격대</a>
            <a href="#" class="btn btn-lg btn-yellow">강화 타격대</a>
            <a href="#" class="btn btn-lg btn-yellow">교통 6중대</a>
        </div>
        <div class="col-sm-2">
            <a href="#" class="btn btn-lg btn-yellow">부평 타격대</a>
            <a href="#" class="btn btn-lg btn-yellow">중부 방순대</a>
            
        </div>
        <div class="col-sm-2">
            <a href="#" class="btn btn-lg btn-yellow">인천 지방청</a>
            <a href="#" class="btn btn-lg btn-yellow">교육 센터</a>
            
        </div>
        <div class="col-sm-2">
            <a href="#" class="btn btn-lg btn-yellow">남동 방순대</a>
            <a href="#" class="btn btn-lg btn-yellow">남부 방순대</a>
            
        </div>
        <div class="col-sm-2">
            <a href="#" class="btn btn-lg btn-yellow">남부 타격대</a>
            <a href="#" class="btn btn-lg btn-yellow">인천 기마대</a>
        </div>
    </div>
</div>


    

</div>
</body>
</html>